/*
 * Custom
 */
#title {
  font-size: 3.2em;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 1em;
  color: #555;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
#footer > p {
  margin: 1em 0;
}
#footer > p > a {
  color: #555;
}
#profile-pic {
  max-width: 250px;
  border-radius: 50%;
}
code:not(.hljs):not(.plain) {
  background-color: rgba(0, 0, 0, 0.1);
  color: burlywood;
  padding: 0.25em 0.5em;
}
pre {
  scrollbar-color: #00090f #01121f;
  scrollbar-width: thin;
}
pre[class*="language-"] {
  border: 0;
  box-shadow: none;
  font-size: 1.2rem;
}
code[class*="language-"] {
  border: 0 !important;
  text-shadow: none;
}
p > code[class*="language-"] {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.2);
}
div.block {
  border: 3px #fff solid;
  padding: 0.55em 0.5em;
  box-sizing: border-box;
}
div.one-third {
  float: left;
  width: 31.333333%;
  margin-right: 1%;
  margin-left: 1%;
}
#flow-cipher {
  font-size: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
.smaller {
  font-size: 0.75em;
}
.small {
  font-size: 0.5em;
}
.text-white {
  color: #fff !important;
}
.d-flex {
  display: flex;
}
.align-start {
  align-items: start;
}
.d-flex.half-columns > div {
  flex-basis: 50%;
  padding: 0 1em;
}
.d-flex.one-third-columns > div {
  flex-basis: 33%;
  padding: 0 1em;
  flex-shrink: 0;
  box-sizing: border-box;
}
.flex-grow {
  flex-grow: 1;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.mr-1 {
  margin-right: 1em !important;
}
.h4 {
  color: #eee;
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}
